/*public*/
* {margin:0;padding:0;}
html {font-size:20px; height:100%;}
body {width: 100%;font-family:'Microsoft Yahei', 'Arial';color: #333;-webkit-touch-callout: inherit;-webkit-user-select:auto;overflow:hidden; height:100%;}
img {vertical-align:middle;}
a {color:#fff;text-decoration: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
ul, ol, li {list-style: none;}
.hide {display:none;}
.fl{ float:left;}
.fr{ float:right;}
.page {width:100%;height:100%;position:absolute;text-align:center;overflow:hidden;}
.page .wrap {height:100%;position: relative;}
.page-1-1 {background:url(../images/bg1.jpg) no-repeat; background-size:100% 100%;}
.page-current {z-index:1;}
.upBtn {height:auto;width:20px;position:absolute;left:50%;top:93%;margin-left:-10px;z-index:10}
img {width:90%;}
/* move from / to  */
.pt-page-moveToLeft { -webkit-animation: moveToLeft .6s ease both;animation: moveToLeft .6s ease both;}
.pt-page-moveToRight {-webkit-animation: moveToRight .6s ease both; animation: moveToRight .6s ease both;}
.pt-page-moveToTop {-webkit-animation: moveToTop .6s ease both; animation: moveToTop .6s ease both;}
.pt-page-moveFromTop {-webkit-animation: moveFromTop .6s ease both;animation: moveFromTop .6s ease both;}
.pt-page-moveToBottom {-webkit-animation: moveToBottom .6s ease both; animation: moveToBottom .6s ease both;}
.pt-page-moveFromBottom {-webkit-animation: moveFromBottom .6s ease both;animation: moveFromBottom .6s ease both;}
/* iconUp & circle */
.pt-page-moveIconUp {-webkit-animation: moveIconUp ease 1.5s both infinite;animation: moveToBottom ease 1.5s both infinite;}

/********************************* keyframes **************************************/
/* move from / to  */
@-webkit-keyframes moveToLeft {from {}to {-webkit-transform: translateX(-240px);}}
@keyframes moveToLeft {from {}to {-webkit-transform: translateX(-240px);transform: translateX(-240px);}}
@-webkit-keyframes moveToRight {from {}to {-webkit-transform: translateX(240px);}}
@keyframes moveToRight {from {}to {-webkit-transform: translateX(240px);transform: translateX(240px);}}
@-webkit-keyframes moveToTop {from {}to {-webkit-transform: translateY(-100%);}}
@keyframes moveToTop {from {}to{-webkit-transform: translateY(-100%);transform: translateY(-100%);}}
@-webkit-keyframes moveFromTop {from {-webkit-transform: translateY(-100%);}}
@keyframes moveFromTop {from {-webkit-transform: translateY(-100%);transform: translateY(-100%);}}
@-webkit-keyframes moveToBottom {from {}to {-webkit-transform: translateY(100%);}}
@keyframes moveToBottom {from {}to {-webkit-transform: translateY(100%);transform: translateY(100%);}}
@-webkit-keyframes moveFromBottom {from {-webkit-transform: translateY(100%);}}
@keyframes moveFromBottom {from {-webkit-transform: translateY(100%);transform: translateY(100%);}}
@-webkit-keyframes moveIconUp {0% {-webkit-transform: translate3d(0, 100%, 0);opacity:0;}50% {-webkit-transform: translate3d(0, 0, 0);opacity:1;}100%{-webkit-transform: translate3d(0, -100%, 0);opacity:0;}}
@keyframes moveIconUp {0%{-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0);opacity:0;}50% {-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);opacity:1;}100% {-webkit-transform:translate3d(0, -100%, 0);transform:translate3d(0, -100%,0);opacity:0;}}


@-webkit-keyframes moveIconLeft {0% {-webkit-transform: translate3d(10%, 0%, 0);opacity:0;}50% {-webkit-transform: translate3d(0, 0, 0);opacity:1;}100%{-webkit-transform: translate3d(-30%, 0%, 0);opacity:0;}}
@keyframes moveIconLeft {0%{-webkit-transform:translate3d(10%,0%, 0);transform:translate3d(10%, 0%, 0);opacity:0;}50% {-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);opacity:1;}100% {-webkit-transform:translate3d(-30%, 0%, 0);transform:translate3d(-30%, 0%,0);opacity:0;}}
.moveleft {-webkit-animation: moveIconLeft ease 1s 2;animation: moveIconLeft ease 1s 2;}

@-webkit-keyframes moveright {0% {-webkit-transform: translate3d(-10%, 0%, 0);opacity:0;}50% {-webkit-transform: translate3d(0, 0, 0);opacity:1;}100%{-webkit-transform: translate3d(30%, 0%, 0);opacity:0;}}
@keyframes moveright {0%{-webkit-transform:translate3d(-10%,0%, 0);transform:translate3d(-10%, 0%, 0);opacity:0;}50% {-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);opacity:1;}100% {-webkit-transform:translate3d(30%, 0%, 0);transform:translate3d(30%, 0%,0);opacity:0;}}
.moveright{-webkit-animation: moveright ease 1s  2;animation: moveright ease 1s  2;}


/*index start*/
/*page0*/
.page0_tit{width:78%;position:absolute; top:8%; left:11%; z-index:4;}
.page0_wrap{height:100%; background:url(../images/bg0.jpg) no-repeat; background-size:100% 100%;}
.p0_people{ position:absolute; top:25%; left:5%; width:90%;}
.page0_btn{ position: absolute; bottom:8%; left:50%; margin-left:-5.15rem; display:block; width:10.3rem;}
.page0_btn img{ width:100%;}
.p0_peopleimg{width:100%;}
.p0_quest{ position:absolute; top:-7%; right:0%; width:6.2rem;}
/*page1*/
.pic2_tit{ width:78%;position:absolute; top:8%; left:11%; z-index:4;}
.boardwrap{ width:15rem;position:relative;top:32%;margin:0 auto;}
.baordwrapbg{ width:100%;}
.board{ width:13rem; position:absolute; top:15%; left:50%; margin-left:-6.5rem; height:11.15rem; background:url(../images/board.png) no-repeat; background-size:100% 100%; z-index:3;}
.boardbg{ width:100%; height:100%;}
ul.moonCakewrap{width:100%; height:100%; position: relative; top:0; left:0%;}
ul.moonCakewrap li{width:3.5rem; height:3.7rem; position:absolute; perspective:1000px;-webkit-perspective:1000px; transform-style:preserve-3d; -webkit-transform-style:preserve-3d;}
ul.moonCakewrap li span,ul.moonCakewrap li b{ display:block; position:absolute;width:3.5rem; height:3.7rem; left:0; top:0;transition:0.5s all ease-out;-webkit-transition:0.5s all ease-out;}
ul.moonCakewrap li span{-webkit-transform:rotateY(0deg) translate3d(0,0,0px);transform:rotateY(0deg) translate3d(0,0,0px);backface-visibility:hidden;-webkit-backface-visibility: hidden;}
ul.moonCakewrap li b{-webkit-transform:rotateY(180deg) translate3d(0,0,1px);transform:rotateY(180deg) translate3d(0,0,1px);backface-visibility:hidden;-webkit-backface-visibility: hidden;}
.front{ background:url(../images/front.png) no-repeat; background-size:100% 100%; }
ul.moonCakewrap li.fir b.back{ background:url(../images/bingpi.png) no-repeat;background-size:100% 100%;}
ul.moonCakewrap li.sec b.back{ background:url(../images/zaoni.png) no-repeat;background-size:100% 100%;}
ul.moonCakewrap li.thir b.back{ background:url(../images/danhuang.png) no-repeat;background-size:100% 100%;}
ul.moonCakewrap li.forth b.back{ background:url(../images/wuren.png) no-repeat;background-size:100% 100%;}
ul.moonCakewrap li.fivth b.back{ background:url(../images/shuiguo.png) no-repeat;background-size:100% 100%;}
ul.moonCakewrap li.sixth b.back{ background:url(../images/dousha.png) no-repeat;background-size:100% 100%;}
ul.moonCakewrap li span.active{-webkit-transform:rotateY(180deg) translate3d(0,0,0px);transform:rotateY(180deg) translate3d(0,0,0px);backface-visibility:hidden;-webkit-backface-visibility: hidden;}
ul.moonCakewrap li b.active{-webkit-transform:rotateY(0) translate3d(0,0,0px);transform:rotateY(0) translate3d(0,0,0px);backface-visibility:hidden;-webkit-backface-visibility: hidden;}
.moonCakewrap li:first-child{top:1rem; left:0.5rem;}
.moonCakewrap li:nth-child(2){top:1rem; left:5rem;}
.moonCakewrap li:nth-child(3){top:1rem; left:9.2rem;}
.moonCakewrap li:nth-child(4){top:6.5rem;left:0.5rem;}
.moonCakewrap li:nth-child(5){top:6.5rem;left:5rem;}
.moonCakewrap li:nth-child(6){top:6.5rem; left:9.2rem;}
.rabbit{ width:6.5rem; height:6.7rem; position:absolute; left:-4%; bottom:-26%; z-index:3;}
.chang_e{ position:absolute; top:-60%; left:-10%; width:120%; z-index:2;}
.kuang{ width:100%; height:100%; position:absolute; top:0%; left:0%; z-index:4;}
/*pop*/
.popbg,.sharePopbg{ width:100%; height:100%; background:rgba(0,0,0,0.5); position:fixed; top:0%; left:0%; z-index:100;}
.popfalsewrap{ width:13.3rem; height:10rem; margin-top:-5rem; margin-left:-6.65rem;}
.popfalsebg,.poprightbg{ width:100%;}
.popfalseword{ position:absolute; width:9rem; top:48%; left:22%; z-index:102;}
.popfalsebtn{ width:6rem; position:absolute; top:66%; left:32%; z-index:102; display:block;}
.popfalsebtn img,.poprightbtn img{ width:100%;}
.poprightwrap{ width:15rem; height:8.25rem;margin-top:-4.125rem; margin-left:-7rem;}
.poprightword{ position:absolute; width:7.2rem; top:18%; left:16%; z-index:102;}
.poprightbtn{width:7.75rem; position:absolute; top:60%; left:15%; z-index:102; display:block;}
.poppubwrap{ position:absolute; top:50%; left:50%; z-index:101; }
/*page2*/
.page2_wrap{ width:100%; height:100%; overflow: hidden;}
.p2_wrap1{ background:url(../images/page2bg.jpg) no-repeat; background-size:100% 100%;}
.slidewrap{ position:relative; width:100%; margin:0 auto;}
.slide{ width:11rem;margin:0 auto;text-align: center; top:0%; left:50%; margin-left:-5.5rem; position:absolute;}
.p2_btnpub{ display:block; position:absolute;top:37%; width:1.4rem;}
.p2_btnpub img{ width:100%;}
.btnl{ left:10%;}
.btnr{ right:10%;}
.slidecon{ width:3.2rem; height:14.2rem; position:absolute; left:50%; margin-left:-1.9rem; top:26%; overflow:hidden;}
.slidecon ul{ width:600%;}
.slide ul li{ float:left; width:3.2rem;}
.p2_rabbit{ width:8.5rem; position:absolute; bottom:12%; left:50%; margin-left:-4.25rem;}
.flybtn{ display:block; width:10rem; position:absolute; bottom:4%;left:50%; margin-left:-5.2rem; }
.flybtn img{ width:100%;}
.flybg{width:85%;}
/*page3*/
.p2_wrap2{background:url(../images/p3_bg.jpg) no-repeat; background-size:100% 100%; z-index:-1; }
.p2_wrapub{position: absolute; width:100%; height:100%; }
.p2_wrap2btnwrap{ width:10.75rem; position:absolute; top:40%; left:50%; margin-left:-5.375rem;}
.p2_wrap2btnwrap a,.p2_wrap2btnwrap a img{ width:100%; display:block;}
.mt10{ margin-top:10%;}
.shareimg{ width:60%; position:absolute; top:2%; right:8%; z-index:101;}
/*css3 animation*/
.together{top:50% !important;margin-top:-1.85rem !important;left:50% !important;margin-left:-1.75rem !important;}

@-webkit-keyframes fir1 {
0%{}
50%{top:50%;margin-top:-1.85rem;left:50%;margin-left:-1.75rem;}
70%{top:50%;margin-top:-1.85rem;left:50%;margin-left:-1.75rem;}
100%{}}
@keyframes fir1{
0%{}
50%{top:50%;margin-top:-1.85rem;left:50%;margin-left:-1.75rem;}
70%{top:50%;margin-top:-1.85rem;left:50%;margin-left:-1.75rem;}
100%{}}
.mymove{-webkit-animation:fir1 1s 0.5s both;animation:fir1 1s 0.5s forwards;}

@-webkit-keyframes rotateInUpRight {
0%{}100%{top:-20%;-webkit-transform: scale3d(.5, .5, .5) translate3d(-5%, -5%, 0);transform:translate3d(-5%, -5%, 0) scale3d(.5, .5, .5); opacity:0; }}}
@keyframes rotateInUpRight {
0%{}100%{top:-20%;-webkit-transform: scale3d(.5, .5, .5) translate3d(-5%, -5%, 0);transform:translate3d(-5%, -5%, 0) scale3d(.5, .5, .5); opacity:0; }}
.rotateInUpRight{-webkit-animation: rotateInUpRight 2s both;animation: rotateInUpRight 2s both;}

@-webkit-keyframes fadeIn {0%{opacity: 0;}100%{opacity: 1;}}
@keyframes fadeIn{0%{opacity: 0;}100%{opacity: 1;}}
.fadeIn{-webkit-animation:fadeIn 2s both;animation:fadeIn 2s both;}
.fadeIn1{-webkit-animation:fadeIn 0.6s 2s both;animation:fadeIn 0.6s 2s both;}

@-webkit-keyframes fadeOut {0%{opacity: 1;}100%{opacity: 0;}}
@keyframes fadeOut{0%{opacity:1;}100%{opacity:0;}}
.fadeOut{-webkit-animation:fadeOut 2s both;animation:fadeOut 2s both;}

@-webkit-keyframes zoomIn {
0%{opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
50%{opacity: 1;}}
@keyframes zoomIn {
0%{opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
50%{opacity: 1;}}
.zoomIn{-webkit-animation:zoomIn 1s both;animation:zoomIn 1s both;}

@-webkit-keyframes fadeInlb {
0%{opacity: 0;-webkit-transform: translate3d(-30%, 20%, 0) scale3d(0.2, 0.2,0);transform: translate3d(-30%, 20%, 0) scale3d(0.2, 0.2,0);}
100%{opacity: 1;-webkit-transform: none;transform: none;}}
@keyframes fadeInlb {
0%{opacity: 0;-webkit-transform: translate3d(-30%, 20%, 0) scale3d(0.2, 0.2,0);transform: translate3d(-30%, 20%, 0) scale3d(0.2, 0.2,0);}
100%{opacity: 1;-webkit-transform: none;transform: none;}}
.fadeInlb{-webkit-animation:fadeInlb 0.5s 0.5s both;;animation:fadeInlb 0.5s 0.5s both;}

@-webkit-keyframes jello {
11.1%{-webkit-transform: none;transform: none}22.2%{-webkit-transform: skewX(-12.5deg) skewY(-12.5deg);transform: skewX(-12.5deg) skewY(-12.5deg)}33.3% {-webkit-transform: skewX(6.25deg) skewY(6.25deg);transform: skewX(6.25deg) skewY(6.25deg)}44.4%{-webkit-transform: skewX(-3.125deg) skewY(-3.125deg);transform: skewX(-3.125deg) skewY(-3.125deg)}55.5%{-webkit-transform: skewX(1.5625deg) skewY(1.5625deg);transform: skewX(1.5625deg) skewY(1.5625deg)}66.6%{-webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);transform: skewX(-0.78125deg) skewY(-0.78125deg)}77.7%{-webkit-transform: skewX(0.390625deg) skewY(0.390625deg);transform: skewX(0.390625deg) skewY(0.390625deg)}88.8%{-webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);transform:skewX(-0.1953125deg) skewY(-0.1953125deg)}100%{-webkit-transform:none;transform: none}}
@keyframes jello {11.1%{-webkit-transform: none;transform: none}22.2%{-webkit-transform: skewX(-12.5deg) skewY(-12.5deg);transform: skewX(-12.5deg) skewY(-12.5deg)}33.3% {-webkit-transform: skewX(6.25deg) skewY(6.25deg);transform: skewX(6.25deg) skewY(6.25deg)}44.4%{-webkit-transform: skewX(-3.125deg) skewY(-3.125deg);transform: skewX(-3.125deg) skewY(-3.125deg)}55.5%{-webkit-transform: skewX(1.5625deg) skewY(1.5625deg);transform: skewX(1.5625deg) skewY(1.5625deg)}66.6%{-webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);transform: skewX(-0.78125deg) skewY(-0.78125deg)}77.7%{-webkit-transform: skewX(0.390625deg) skewY(0.390625deg);transform: skewX(0.390625deg) skewY(0.390625deg)}88.8%{-webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);transform:skewX(-0.1953125deg) skewY(-0.1953125deg)}100%{-webkit-transform:none;transform: none}}
.jello{-webkit-animation:jello 1s 1s both;animation:jello 1s 1s both;-webkit-transform-origin:center;transform-origin:center;}

@-webkit-keyframes tada {
0%{-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}
10%, 20%{-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);}
30%, 50%, 70%, 90% {-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);}
40%, 60%, 80%{-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);}
100%{-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}}
 @keyframes tada {
0%{-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}
10%, 20%{-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);}
30%, 50%, 70%, 90% {-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);}40%, 60%, 80%{-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);}100%{-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}}
.tada{-webkit-animation:tada 1s 2.5s both;animation:tada 1s 2.5s both;}

@media screen and (max-height:560px) {
	/*page0*/
	.p0_people{ width:70%; left:15%;}
	/*page1*/
	.rabbit{left:-20%; bottom:-24%; width:5rem; height:5.2rem;}
	.boardwrap{ width:13rem; top:30%;}
	.board{width:11rem; top:10%;margin-left:-5.5rem;}
	ul.moonCakewrap li{width:3rem;height:3.2rem;}
	ul.moonCakewrap li span, ul.moonCakewrap li b{width:3rem;height:3.2rem;}
	.moonCakewrap li:first-child{top:1.2rem; left:0.5rem;}
	.moonCakewrap li:nth-child(2){top:1.2rem; left:4.2rem;}
	.moonCakewrap li:nth-child(3){top:1.2rem; left:7.8rem;}
	.moonCakewrap li:nth-child(4){top:6.7rem;left:0.5rem;}
	.moonCakewrap li:nth-child(5){top:6.7rem;left:4.2rem;}
	.moonCakewrap li:nth-child(6){top:6.7rem; left:7.8rem;}
	/*page2*/
	.flybg{width:74%;}
    .p2_rabbit{width:7.5rem; margin-left:-3.75rem;}
    .flybtn{bottom: 2%;}
}